<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>HackforPlay</title>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="JavaScript で遊べるゲーム" />
  <meta property="og:url" content="https://pg-colosseum.hackforplay.xyz" />
  <meta property="og:description" content="小さな魔女になってダンジョンを探索するプログラミングパズルゲーム！ランキングもあります。プログラミングの勉強にもオススメ（Google Chrome専用）" />
  <meta property="og:image" content="https://i.gyazo.com/9bc1de93821766386a93d4c90edfe335.png" />
  <meta property="og:image:width" content="924" />
  <meta property="og:image:height" content="608" />
  <meta property="og:author" content="てら" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:site" content="@teramotodaiki" />
  <meta property="twitter:title" content="JavaScript で遊べるゲーム" />
  <meta property="twitter:description" content="小さな魔女になってダンジョンを探索するプログラミングパズルゲーム！ランキングもあります。プログラミングの勉強にもオススメ（Google Chrome専用）" />
  <meta property="twitter:image" content="https://i.gyazo.com/9bc1de93821766386a93d4c90edfe335.png" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57860455-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-57860455-7');
  </script>
  <script async type="text/javascript" src="{{ htmlWebpackPlugin.options.cdn }}" x-feeles-launch="jsonURL,make-rpg.json"></script>
  <style media="screen">
    .h4p__app {
      position: absolute;
      padding: 0;
      margin: 0;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
    }
  </style>
</head>

<body>

  <!-- Config of the app -->
  <div class="h4p__app" data-target=".example1"></div>

</body>

</html>